<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Libro</title>
    <link rel="stylesheet" href="crearPosteo.css" />
   
 
    
    
</head>

<body>
<header th:replace="nav/nav.html"> </header>
	
    <div class="contenedorPost">
        <form   action="cargarUsuario" method="POST">
     
            <div  class="cajaCampo">
                <b class="nombreCampo">Titulo</b>
                <input class="campo" type="text" placeholder="ingrese titulo" name="nombreUsuario" />
            </div>
              <div  class="cajaCampo">
                     <select name="etiqueta" class="select">
                        <option value="todos">Otros	</option>
                        <option value="todos">Java</option>
                        <option value="todos">MySQL</option>
                    </select>
            </div>
        
            <div  class="cajaCampo">
                <b class="nombreCampo">Post</b>
               
                <textarea name="" id="" cols="100" rows="20" placeholder="Ingrese tu post"></textarea>
            </div>
            <button class="boton" id="boton2">Postear</button>
        </form>
    </div>
  
</body>

</html>