<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Libro</title>
    <link th:replace="nav/nav.html :: link">
    <link rel="stylesheet" href="../index.css">

    <title>Cargar Libro</title>
   
 </head>
 
</head>
 <header th:replace="nav/nav.html :: nav"> </header>
 
</body>
<p th:text="${error}"></p>

<a  th:if="${session.usersession}" class="boton" href="/crearPost">Post</a>
<a  th:if="${session.usersession}" class="botones" th:href="@{verPosteo/} +  ${session.usersession.id}">Editar</a>
<div class="contenedorPost">
   
 <div class="contenedor" >
        <div  class="cajaCampo">
            <b class="tituloCampo" th:text="${posteo.titulo}"></b>
            <b class="fechaCampo" th:text="${posteo.fechaPosteo}"></b>
        </div>

        <div  class="cajaCampo">
            <b class="tituloCampo" th:text="${posteo.etiqueta}"></b>
            <b class="fechaCampo" th:text="${posteo.usuario.nombre}"></b>
            <b class="fechaCampo" th:text="${posteo.posteo}"></b>
        </div>   
 </div>
 
  <div class="contenedor" th:each="res : ${posteo.respuesta}" >
        <div  class="cajaCampo">
            
            <b class="fechaCampo" th:text="${res.respuesta}"></b>
            <b class="tituloCampo" th:text="${res.usuario.nombre}"></b>
            <b class="fechaCampo" th:text="${res.fechaResp}"></b>
        </div>   
 </div>
 
   <div  >
      
        
        <textarea row="100%" cols="100%"></textarea>
 </div>

</div>		
</body>

</html>