<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    <link th:replace="nav/nav.html :: link">
  

    <link rel="stylesheet" href="perfil.css" />  
 
    
    
</head>
<header th:replace="nav/nav.html :: nav"> </header>
<body>

	
    <div class="contenedor">
        <form action="editarUsuario" method="POST">
            <div class="contenedorTitulo">
            <h2 class="titulo" th:text="${session.usersession.nombreUsuario}">{nombre usurio}</h2>
            <a class="papelera"><img src="papelera.png" alt=""></a>
        </div>
            <div class="columnas">
     
                <div  class="camposLibro">
                <input class="campo" hidden th:value="${session.usersession.mail}" type="text" placeholder="ingrese nombre " name="mail" />
                    <b class="tituloCampo" >Nombre </b>
                    <input class="campo" th:value="${session.usersession.nombre}" type="text" placeholder="ingrese nombre " name="nombre" />
                </div> 
                   <div  class="camposLibro">
                    <b class="tituloCampo">Apellido</b>
                    <input class="campo" th:value="${session.usersession.apellido}" type="text" placeholder="ingrese apellido" name="apellido" />
                </div>
                <div  class="camposLibro">
                <b class="tituloCampo">Nombre de usuario</b>
                <input class="campo" th:value="${session.usersession.nombreUsuario}" type="text" placeholder="ingrese nombre usuario" name="nombreUsuario2" />
            </div>


        

        </div>
            <button class="agregar">Guardar cambios</button>
        </form>
    </div>
  
</body>

</html>